Lab-Arduion/MQTT/MQTT_DHT_Lamp.json
[{"id":"d7b2f6ea.feff98","type":"mqtt out","z":"86c60c3.d0b5ff","name":"Temperature","topic":"/CSU/RT","qos":"2","retain":"","broker":"ea373383.9eea8","x":670,"y":140,"wires":[]},{"id":"9c13eb43.904dc8","type":"mqtt in","z":"86c60c3.d0b5ff","name":"Temperature","topic":"/CSU/T","qos":"2","datatype":"auto","broker":"ea373383.9eea8","x":290,"y":340,"wires":[["5359c531.39eb7c"]]},{"id":"dd470f2d.f62e5","type":"inject","z":"86c60c3.d0b5ff","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":200,"wires":[["d7b2f6ea.feff98","a0165aae.c40198"]]},{"id":"a0165aae.c40198","type":"mqtt out","z":"86c60c3.d0b5ff","name":"Humidity","topic":"/CSU/RH","qos":"","retain":"","broker":"ea373383.9eea8","x":660,"y":220,"wires":[]},{"id":"59ab98a1.dce3f8","type":"mqtt in","z":"86c60c3.d0b5ff","name":"Humidity","topic":"/CSU/H","qos":"2","datatype":"auto","broker":"ea373383.9eea8","x":280,"y":420,"wires":[["372c60e5.51a1a"]]},{"id":"98e95b31.5ffeb8","type":"ui_switch","z":"86c60c3.d0b5ff","name":"LAMP","label":"Lamp","tooltip":"","group":"69fe1f2e.c59c9","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"/CSU/lamp","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":320,"y":80,"wires":[["c1aea5bd.103f78"]]},{"id":"c1aea5bd.103f78","type":"mqtt out","z":"86c60c3.d0b5ff","name":"Lamp","topic":"","qos":"2","retain":"","broker":"ea373383.9eea8","x":640,"y":80,"wires":[]},{"id":"5359c531.39eb7c","type":"ui_chart","z":"86c60c3.d0b5ff","name":"","group":"69fe1f2e.c59c9","order":1,"width":"5","height":"3","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":760,"y":360,"wires":[[]]},{"id":"372c60e5.51a1a","type":"ui_gauge","z":"86c60c3.d0b5ff","name":"Humidity","group":"69fe1f2e.c59c9","order":2,"width":"5","height":"3","gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"70","x":770,"y":420,"wires":[]},{"id":"ea373383.9eea8","type":"mqtt-broker","z":"","broker":"gpssensor.ddns.net","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"69fe1f2e.c59c9","type":"ui_group","z":"","name":"Default","tab":"18103a56.bc13a6","disp":true,"width":"6","collapse":false},{"id":"18103a56.bc13a6","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]